{% extends "govuk_template.html" %}
{% block content %}
    <div class="grid-row">
      <div class="column-two-thirds">
      <h1>{{ land_title['land-title'] }}</h1>

      <dl>
        <dt>Address</dt>
        <dd><a href="http://address.openregister.org/address/{{ land_title['address']}}">ADDRESS!</a></dd>
      </dl>

      {% for clause in clauses %}
      <div>
      <h2> Section: {{ clause['land-title-section'] }} </h2>
      <h2> Clause: {{ clause['land-title-clause'] }} </h2>
      <p> <code>{{ clause['text'] }}</code> </p>
      <p> Deed: {{ clause['land-deed'] }} </p>
      </div>
      {% endfor %}

      </div>
    </div>
{% endblock %}

