{% extends "govuk_template.html" %}
{% block content %}
    <div class="grid-row land-title">
      <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        <span class="heading-secondary">Land Title</span>
        {{ land_title['land-title'] }}
      </h1>

      <h3 class='heading-medium'><a href="http://address.openregister.org/address/{{ land_title['address']}}">Address</a></h3>
      <ul>
        <li>{{ address['property'] }}</a></li>
        <li>{{ address['street'] }}</a></li>
        <li>{{ address['town'] }}</a></li>
        <li>{{ address['postcode'] }}</a></li>
      </ul>
      </div>

      <div class="column-two-thirds">
      <h2 class='heading-large'>About this land title</h2>
      <p>
      The following extract contains information taken from registers associated with the title
      number <code>{{ land_title['land-title']}}</code>. 
      </p>
      <p>
      Neither this extract nor the full copy is an 'Official Copy' of the register. An
      official copy of the register is admissible in evidence in a court to the same extent
      as the original. A person is entitled to be indemnified by the registrar if he or she
      suffers loss by reason of a mistake in an official copy.
      </p>
      <p>
      This extract shows information current on <code>23 OCT 2015 at 12:14:45</code> and so does not take
      account of any application made after that time even if pending in the Land Registry
      when this extract was issued.
      </p>
      </div>

      {% for section_id in section_order %}
      {% set section = sections[section_id] %}
      <div class="column-two-thirds section">
      <h2 class='heading-large section' id="{{ section_id }}"><a href="#{{ section_id }}">{{ section.name }}.</a> {{ section.title }} </h2>
        <p class="intro">{{ section.intro }}</p>
        {% for clause in section.clauses %}
        <div class="clause">
        <p id='{{ clause['land-title-clause'] }}'><pre class="clause-text">{{ clause['text'] }}</pre> {% if clause['land-deed'] %}<a class="deed-ref" href="" title="taken from deed {{ clause['land-deed']}}">§</a> {% endif %}
          <a class="pilcrow" href="#{{ clause['land-title-clause'] }}">¶</a>
          </p>
        </div>
        {% endfor %}
      </div>
      {% endfor %}

      </div>
    </div>
{% endblock %}
{% block body_end %}
<script src="{{asset_path}}javascripts/vendor/jquery.js"></script>
<script>
$(function() {
  $('.clause-text').each(function () {
    var clause = $(this);
    var html = clause.html();
    html = html.replace(/\n/g, '<br>')
    html = html.replace(/(Charges Register)/g, '<a href="#CHARGES">$1</a>')
    html = html.replace(/\[\[land-title:([[A-Z0-9]*\]\])/g, '<code><a href="/land/title/$1" class="title-ref">$1</a></code>');
    html = html.replace(/\[\[company:([[A-Z0-9]*)\]\]/g, '<code><a href="https://beta.companieshouse.gov.uk/company/$1" class="company-ref">company:$1</a></code>');
    html = html.replace(/\[\[address:([[A-Z0-9]*)\]\]/g, '<code><a href="http://address.openregister.org/address/$1" class="address-ref">address:$1</a></code>');
    clause.html(html);
  });
});
</script>
{% endblock %}
